In [59]:
import pandas as pd
import numpy as np
import seaborn as sns

In [60]:
df2 = pd.read_stata('Harvard-2006-2020.dta')

In [61]:
df2.head(1)

,year,case_id,weight,weight_cumulative,state,st,cong,cong_up,state_post,st_post,...,voted_rep_chosen,voted_sen_chosen,voted_gov_chosen,rep_current,rep_icpsr,sen1_current,sen1_icpsr,sen2_current,sen2_icpsr,gov_current
0,2006,439219,1.851676,1.667581,North Carolina,NC,109,110,North Carolina,NC,...,Richard C. Carsner (D),,,Patrick T. McHenry (R),20522,Elizabeth Dole (R),40303,Richard Burr (R),29548,Michael Easley (D)

In [62]:
df2.drop(df2[df2.year < 2016].index, inplace=True)

In [63]:
df2.shape

(221800, 93)

In [64]:
cali = df2.copy()

In [65]:
cali.head()

,year,case_id,weight,weight_cumulative,state,st,cong,cong_up,state_post,st_post,...,voted_rep_chosen,voted_sen_chosen,voted_gov_chosen,rep_current,rep_icpsr,sen1_current,sen1_icpsr,sen2_current,sen2_icpsr,gov_current
309955,2016,222168628,1.344214,0.682511,New Hampshire,NH,114,115,New Hampshire,NH,...,Jim Lawrence (R),Kelly Ayotte (R),Chris Sununu (R),Ann McLane Kuster (D),21340,Jeanne Shaheen (D),40906,Kelly Ayotte (R),41106,Maggie Hassan (D)
309956,2016,273691199,1.182352,0.600327,Louisiana,LA,114,115,Louisiana,LA,...,Kip Holden (D),John Fleming (R),,Cedric Richmond (D),21137,David Vitter (R),29918,Bill Cassidy (R),20919,John Edwards (D)
309957,2016,284214415,0.217396,0.110381,Missouri,MO,114,115,NaN,NaN,...,,,,Jason T. Smith (R),21373,Claire McCaskill (D),40701,Roy Blunt (R),29735,Jay Nixon (D)
309958,2016,287557695,0.532320,0.270280,Alabama,AL,114,115,NaN,NaN,...,,,,Terri Sewell (D),21102,Richard Shelby (R),94659,Jeff Sessions (R),49700,Robert J. Bentley (R)
309959,2016,290387662,1.261106,0.640314,Colorado,CO,114,115,Colorado,CO,...,Jared Polis (D),Michael Bennet (D),,Jared Polis (D),20904,Michael Bennet (D),40910,Cory Gardner (R),21112,John Hickenlooper (D)

In [66]:
# Limit dataframe to California
# code is a little weird, but at this point, cali = df2, so it works

cali.drop(df2[df2.state != 'California'].index, inplace=True)

In [67]:
cali.shape

(19799, 93)

In [68]:
cali.head(10)

,year,case_id,weight,weight_cumulative,state,st,cong,cong_up,state_post,st_post,...,voted_rep_chosen,voted_sen_chosen,voted_gov_chosen,rep_current,rep_icpsr,sen1_current,sen1_icpsr,sen2_current,sen2_icpsr,gov_current
309976,2016,299793268,2.464577,1.251364,California,CA,114,115,California,CA,...,,,,Jerry McNerney (D),20702,Dianne Feinstein (D),49300,Barbara Boxer (D),15011,Jerry Brown (D)
309979,2016,299929287,2.049700,1.040715,California,CA,114,115,NaN,NaN,...,,,,Brad Sherman (D),29707,Dianne Feinstein (D),49300,Barbara Boxer (D),15011,Jerry Brown (D)
309994,2016,300678759,0.278606,0.141459,California,CA,114,115,California,CA,...,Ted Lieu (D),Kamala D. Harris (D),,Ted Lieu (D),21507,Dianne Feinstein (D),49300,Barbara Boxer (D),15011,Jerry Brown (D)
309995,2016,300756130,0.064245,0.032620,California,CA,114,115,California,CA,...,,,,Kevin McCarthy (R),20703,Dianne Feinstein (D),49300,Barbara Boxer (D),15011,Jerry Brown (D)
310003,2016,300894516,0.209963,0.106606,California,CA,114,115,California,CA,...,Brett Murdock (D),Kamala D. Harris (D),,Ed Royce (R),29321,Dianne Feinstein (D),49300,Barbara Boxer (D),15011,Jerry Brown (D)
310008,2016,300931090,1.537359,0.780579,California,CA,114,115,California,CA,...,Brad Sherman (D),Kamala D. Harris (D),,Brad Sherman (D),29707,Dianne Feinstein (D),49300,Barbara Boxer (D),15011,Jerry Brown (D)
310011,2016,300996404,1.172477,0.595313,California,CA,114,115,California,CA,...,"Juan M. Hidalgo, Jr. (R)",Loretta L. Sanchez (D),,Juan Vargas (D),21314,Dianne Feinstein (D),49300,Barbara Boxer (D),15011,Jerry Brown (D)
310018,2016,301045806,2.929296,1.487321,California,CA,114,115,California,CA,...,Anna Eshoo (D),Loretta L. Sanchez (D),,Anna Eshoo (D),29312,Dianne Feinstein (D),49300,Barbara Boxer (D),15011,Jerry Brown (D)
310024,2016,301092237,0.825176,0.418975,California,CA,114,115,California,CA,...,Grace Napolitano (D),Loretta L. Sanchez (D),,Grace Napolitano (D),29903,Dianne Feinstein (D),49300,Barbara Boxer (D),15011,Jerry Brown (D)
310041,2016,301124709,0.958000,0.486415,California,CA,114,115,California,CA,...,Jared Huffman (D),Kamala D. Harris (D),,Jared Huffman (D),21303,Dianne Feinstein (D),49300,Barbara Boxer (D),15011,Jerry Brown (D)

In [69]:
# drop state column, since it's the same as st column
cali.drop('state_post', axis =1, inplace= True)

In [70]:
cali.head(3)

,year,case_id,weight,weight_cumulative,state,st,cong,cong_up,st_post,dist,...,voted_rep_chosen,voted_sen_chosen,voted_gov_chosen,rep_current,rep_icpsr,sen1_current,sen1_icpsr,sen2_current,sen2_icpsr,gov_current
309976,2016,299793268,2.464577,1.251364,California,CA,114,115,CA,9,...,,,,Jerry McNerney (D),20702,Dianne Feinstein (D),49300,Barbara Boxer (D),15011,Jerry Brown (D)
309979,2016,299929287,2.049700,1.040715,California,CA,114,115,NaN,30,...,,,,Brad Sherman (D),29707,Dianne Feinstein (D),49300,Barbara Boxer (D),15011,Jerry Brown (D)
309994,2016,300678759,0.278606,0.141459,California,CA,114,115,CA,33,...,Ted Lieu (D),Kamala D. Harris (D),,Ted Lieu (D),21507,Dianne Feinstein (D),49300,Barbara Boxer (D),15011,Jerry Brown (D)

# Create DataFrames By Year, 2016 - 2020

In [71]:
cali16 = cali[(cali['year'] == 2016)]

In [72]:
cali16.shape

(6021, 92)

In [73]:
cali17 = cali[(cali['year'] == 2017)]

In [74]:
cali17.shape

(1816, 92)

In [75]:
cali18 = cali[(cali['year'] == 2018)]

In [76]:
cali18.shape

(5284, 92)

In [77]:
cali19 = cali[(cali['year'] == 2019)]

In [78]:
cali19.shape

(1650, 92)

In [79]:
cali20 = cali[(cali['year'] == 2020)]

In [80]:
cali20.shape

(5028, 92)

# Count Missing Values (all years)

In [81]:
cali['gender'].isna().sum()

0

In [82]:
cali['age'].isna().sum()

0

In [83]:
cali['educ'].isna().sum()

0

In [84]:
cali['race'].isna().sum()

0

In [85]:
# Need to investigate further
cali['hispanic'].isna().sum()

3268

In [86]:
# This number is surprisingly low... I'm not going to drop them yet, 
# because I suspect that we'll find more when we start crunching.

cali['faminc'].isna().sum()

33

Was there more missing data for Hispanics in some years than in others?
N's by year:
2016: 6,021
2017: 1,816
2018: 5,284
2019: 1,650
2020: 5,028

In [87]:
n_2016 = 6021
n_2017 = 1816
n_2018 = 5284
n_2019 = 1650
n_2020 = 5028

Note on the Hispanic variable:
Hispanic is covered under two different variables: race and hispanic.
The questions for each are:

race: "What racial or ethnic group best describes you?"
hispanic: "Are you of Spanish, Latino, or Hispanic origin or descent?"

The second question was only asked if the respondent did not answer "Hispanic" to the first question.

# 2016

In [88]:
# n = 6,021 respondents
cali16['race'].value_counts()

White              3355
Hispanic           1121
Asian               632
Black               504
Mixed               222
Other               102
Native American      71
Middle Eastern       14
Name: race, dtype: int64

In [89]:
cali16['race'].count()

6021

In 2016, everyone answered the race question.

In [90]:
cali16['hispanic'].isna().sum()

1145

In [91]:
cali16['hispanic'].count()

4876

In [92]:
# Percent of 'hispanic' responses missing - 2016
1145 / 4876

0.2348236259228876

In [93]:
# Total Hispanic respondents (from race and hispanic variables)
cali16['hispanic'].value_counts()

No     4448
Yes     428
Name: hispanic, dtype: int64

In [94]:
# 2016 percentage of respondents who identified as Hispanic
(428 + 1121) / n_2016

0.2572662348447102

## 2017

In [95]:
# n = 1,816 respondents
cali17['race'].value_counts()

White              859
Hispanic           542
Black              155
Asian               97
Mixed               93
Other               47
Native American     18
Middle Eastern       5
Name: race, dtype: int64

In [96]:
cali17['hispanic'].value_counts()

No     1129
Yes     139
Name: hispanic, dtype: int64

In [97]:
# 2017 percentage of respondents who identified as Hispanic
(139 + 542) / n_2017

0.375

In [98]:
cali17['hispanic'].isna().sum()

548

In [99]:
cali17['hispanic'].count()

1268

In [100]:
# Percent of 'hispanic' responses missing - 2017
548 / 1268

0.43217665615141954

## 2018

In [101]:
# n = 5284
cali18['race'].value_counts()

White              3011
Hispanic           1048
Asian               487
Black               364
Mixed               240
Other                67
Native American      45
Middle Eastern       22
Name: race, dtype: int64

In [102]:
cali18['hispanic'].value_counts()

No     4949
Yes     335
Name: hispanic, dtype: int64

In [103]:
# 2018 percentage of respondents who identified as Hispanic
(335 + 1048) / n_2018

0.2617335352006056

In [104]:
# No missing 'hispanic' data for 2018?  Well, at least not yet....
cali18['hispanic'].isna().sum()

0

## 2019

In [105]:
# n = 1650
cali19['race'].value_counts()

White              842
Hispanic           471
Asian              120
Black              113
Mixed               51
Native American     32
Other               18
Middle Eastern       3
Name: race, dtype: int64

In [106]:
cali19['hispanic'].value_counts()

No     1135
Yes      41
Name: hispanic, dtype: int64

In [107]:
# 2019 percentage of respondents who identified as Hispanic
(41 + 471) / n_2019

0.3103030303030303

In [108]:
cali19['hispanic'].isna().sum()

474

In [109]:
cali19['hispanic'].count()

1176

In [110]:
# Percent of 'hispanic' responses missing - 2019
474 / 1176

0.4030612244897959

## 2020

In [111]:
# n = 5028
cali20['race'].value_counts()

White              2659
Hispanic           1097
Asian               505
Black               406
Mixed               158
Other               143
Native American      49
Middle Eastern       11
Name: race, dtype: int64

In [112]:
cali20['hispanic'].value_counts()

No     3674
Yes     253
Name: hispanic, dtype: int64

In [113]:
# 2020 percentage of respondents who identified as Hispanic
(1097 + 253) / n_2020

0.2684964200477327

In [114]:
cali20['hispanic'].isna().sum()

1101

In [115]:
cali20['hispanic'].count()

3927

In [116]:
# Percent of 'hispanic' responses missing - 2020
1101 / 3927

0.28036669213139803

Missing Hispanic data peaked in 2016, the same year Trump was elected, and decreased in 2020, the same year Biden was elected.  2018 might be an exception, but I suspect that we'll discover otherwise once we start crunching the data.