In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_stata('/Users/zaidaziz/Desktop/Havard Dataset/cumulative_2006-2020.dta')

In [3]:
df.head()

,year,case_id,weight,weight_cumulative,state,st,cong,cong_up,state_post,st_post,...,voted_rep_chosen,voted_sen_chosen,voted_gov_chosen,rep_current,rep_icpsr,sen1_current,sen1_icpsr,sen2_current,sen2_icpsr,gov_current
0,2006,439219,1.851676,1.667581,North Carolina,NC,109,110,North Carolina,NC,...,Richard C. Carsner (D),,,Patrick T. McHenry (R),20522,Elizabeth Dole (R),40303,Richard Burr (R),29548,Michael Easley (D)
1,2006,439224,0.968308,0.872039,Ohio,OH,109,110,Ohio,OH,...,Stephanie Studebaker (D),Sherrod C. Brown (D),Ted Strickland (D),Michael R. Turner (R),20342,Mike DeWine (R),15020,George V. Voinovich (R),49903,Bob Taft (R)
2,2006,439228,1.593441,1.435020,New Jersey,NJ,109,110,New Jersey,NJ,...,Robert E. Andrews (D),Robert Menendez (D),,Robert E. Andrews (D),29132,Robert Menendez (D),29373,Frank R. Lautenberg (D),14914,Jon Corzine (D)
3,2006,439237,1.398529,1.259486,Illinois,IL,109,110,Illinois,IL,...,Janice D. Schakowsky (D),,Rod Blagojevich (D),Janice D. Schakowsky (D),29911,Richard Durbin (D),15021,Barack Obama (D),40502,Rod Blagojevich (D)
4,2006,439238,0.902890,0.813124,New York,NY,109,110,New York,NY,...,Maurice D. Hinchey (D),Hillary Rodham Clinton (D),Eliot Spitzer (D),Maurice D. Hinchey (D),29380,Charles E. Schumer (D),14858,Hillary Rodham Clinton (D),40105,George Pataki (R)

In [4]:
df = df[(df['year'] >= 2016) & (df['state'] == 'California')]
df.head()

,year,case_id,weight,weight_cumulative,state,st,cong,cong_up,state_post,st_post,...,voted_rep_chosen,voted_sen_chosen,voted_gov_chosen,rep_current,rep_icpsr,sen1_current,sen1_icpsr,sen2_current,sen2_icpsr,gov_current
309976,2016,299793268,2.464577,1.251364,California,CA,114,115,California,CA,...,,,,Jerry McNerney (D),20702,Dianne Feinstein (D),49300,Barbara Boxer (D),15011,Jerry Brown (D)
309979,2016,299929287,2.049700,1.040715,California,CA,114,115,NaN,NaN,...,,,,Brad Sherman (D),29707,Dianne Feinstein (D),49300,Barbara Boxer (D),15011,Jerry Brown (D)
309994,2016,300678759,0.278606,0.141459,California,CA,114,115,California,CA,...,Ted Lieu (D),Kamala D. Harris (D),,Ted Lieu (D),21507,Dianne Feinstein (D),49300,Barbara Boxer (D),15011,Jerry Brown (D)
309995,2016,300756130,0.064245,0.032620,California,CA,114,115,California,CA,...,,,,Kevin McCarthy (R),20703,Dianne Feinstein (D),49300,Barbara Boxer (D),15011,Jerry Brown (D)
310003,2016,300894516,0.209963,0.106606,California,CA,114,115,California,CA,...,Brett Murdock (D),Kamala D. Harris (D),,Ed Royce (R),29321,Dianne Feinstein (D),49300,Barbara Boxer (D),15011,Jerry Brown (D)

In [5]:
df.shape

(19799, 93)

In [6]:
# drop state column, since it's the same as st column
df.drop(['state_post', 'st'], axis =1, inplace= True)

In [7]:
cali = df

# Create DataFrames By Year, 2016 - 2020

In [8]:
cali16 = cali[(cali['year'] == 2016)]
cali16.shape

(6021, 91)

In [9]:
cali17 = cali[(cali['year'] == 2017)]
cali17.shape

(1816, 91)

In [10]:
cali18 = cali[(cali['year'] == 2018)]
cali18.shape

(5284, 91)

In [11]:
cali19 = cali[(cali['year'] == 2019)]
cali19.shape

(1650, 91)

In [12]:
cali20 = cali[(cali['year'] == 2020)]
cali20.shape

(5028, 91)

# Count Missing Values (all years)

In [13]:
cali['gender'].isnull().sum()

0

In [14]:
cali['age'].isna().sum()

0

In [15]:
cali['educ'].isna().sum()

0

In [16]:
cali['race'].isna().sum()

0

In [17]:
# Need to investigate further
cali['hispanic'].isna().sum()

3268

In [18]:
# This number is surprisingly low... I'm not going to drop them yet, 
# because I suspect that we'll find more when we start crunching.

cali['faminc'].isna().sum()

33

Was there more missing data for Hispanics in some years than in others?
N's by year:
2016: 6,021
2017: 1,816
2018: 5,284
2019: 1,650
2020: 5,028

In [19]:
n_2016 = 6021
n_2017 = 1816
n_2018 = 5284
n_2019 = 1650
n_2020 = 5028

Note on the Hispanic variable:
Hispanic is covered under two different variables: race and hispanic.
The questions for each are:

race: "What racial or ethnic group best describes you?"
hispanic: "Are you of Spanish, Latino, or Hispanic origin or descent?"

The second question was only asked if the respondent did not answer "Hispanic" to the first question.

# 2016

In [20]:
# n = 6,021 respondents
cali16['race'].value_counts()

White              3355
Hispanic           1121
Asian               632
Black               504
Mixed               222
Other               102
Native American      71
Middle Eastern       14
Name: race, dtype: int64

In [21]:
cali16['race'].count()

6021

In 2016, everyone answered the race question.

In [22]:
cali16['hispanic'].isna().sum()

1145

In [23]:
cali16['hispanic'].count()

4876

In [24]:
# Percent of 'hispanic' responses missing - 2016
1145 / 4876

0.2348236259228876

In [25]:
# Total Hispanic respondents (from race and hispanic variables)
cali16['hispanic'].value_counts()

No     4448
Yes     428
Name: hispanic, dtype: int64

In [26]:
# 2016 percentage of respondents who identified as Hispanic
(428 + 1121) / n_2016

0.2572662348447102

## 2017

In [27]:
# n = 1,816 respondents
cali17['race'].value_counts()

White              859
Hispanic           542
Black              155
Asian               97
Mixed               93
Other               47
Native American     18
Middle Eastern       5
Name: race, dtype: int64

In [28]:
cali17['hispanic'].value_counts()

No     1129
Yes     139
Name: hispanic, dtype: int64

In [29]:
# 2017 percentage of respondents who identified as Hispanic
(139 + 542) / n_2017

0.375

In [30]:
cali17['hispanic'].isna().sum()

548

In [31]:
cali17['hispanic'].count()

1268

In [32]:
# Percent of 'hispanic' responses missing - 2017
548 / 1268

0.43217665615141954

## 2018

In [33]:
# n = 5284
cali18['race'].value_counts()

White              3011
Hispanic           1048
Asian               487
Black               364
Mixed               240
Other                67
Native American      45
Middle Eastern       22
Name: race, dtype: int64

In [34]:
cali18['hispanic'].value_counts()

No     4949
Yes     335
Name: hispanic, dtype: int64

In [35]:
# 2018 percentage of respondents who identified as Hispanic
(335 + 1048) / n_2018

0.2617335352006056

In [36]:
# No missing 'hispanic' data for 2018?  Well, at least not yet....
cali18['hispanic'].isna().sum()

0

## 2019

In [37]:
# n = 1650
cali19['race'].value_counts()

White              842
Hispanic           471
Asian              120
Black              113
Mixed               51
Native American     32
Other               18
Middle Eastern       3
Name: race, dtype: int64

In [38]:
cali19['hispanic'].value_counts(normalize=True)

No     0.965136
Yes    0.034864
Name: hispanic, dtype: float64

In [39]:
# 2019 percentage of respondents who identified as Hispanic
(41 + 471) / n_2019

0.3103030303030303

In [40]:
cali19['hispanic'].isna().sum()

474

In [41]:
cali19['hispanic'].count()

1176

In [42]:
# Percent of 'hispanic' responses missing - 2019
474 / 1176

0.4030612244897959

## 2020

In [43]:
# n = 5028
cali20['race'].value_counts()

White              2659
Hispanic           1097
Asian               505
Black               406
Mixed               158
Other               143
Native American      49
Middle Eastern       11
Name: race, dtype: int64

In [44]:
cali20['hispanic'].value_counts()

No     3674
Yes     253
Name: hispanic, dtype: int64

In [45]:
# 2020 percentage of respondents who identified as Hispanic
(1097 + 253) / n_2020

0.2684964200477327

In [46]:
cali20['hispanic'].isna().sum()

1101

In [47]:
cali20['hispanic'].count()

3927

In [48]:
# Percent of 'hispanic' responses missing - 2020
1101 / 3927

0.28036669213139803

Missing Hispanic data peaked in 2016, the same year Trump was elected, and decreased in 2020, the same year Biden was elected.  2018 might be an exception, but I suspect that we'll discover otherwise once we start crunching the data.

In [49]:
cali20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5028 entries, 470768 to 531747
Data columns (total 91 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   year               5028 non-null   int32
 1   case_id            5028 non-null   object
 2   weight             5028 non-null   float64
 3   weight_cumulative  5028 non-null   float64
 4   state              5028 non-null   category
 5   cong               5028 non-null   category
 6   cong_up            5028 non-null   category
 7   st_post            4234 non-null   category
 8   dist               5028 non-null   int32
 9   dist_up            5028 non-null   int32
 10  cd                 5028 non-null   object
 11  cd_up              5028 non-null   object
 12  dist_post          4234 non-null   float64
 13  dist_up_post       4234 non-null   float64
 14  cd_post            5028 non-null   object
 15  cd_up_post         5028 non-null   object
 16  zipcode            5028 non-null   object
 17  county_fips        5028 non-null   object
 18  tookpost           5028 non-null   category
 19  weight_post        4234 non-null   float64
 20  rvweight           0 non-null      float64
 21  rvweight_post      0 non-null      float64
 22  starttime          5028 non-null   datetime64[ns]
 23  pid3               5028 non-null   category
 24  pid3_leaner        5028 non-null   category
 25  pid7               5028 non-null   category
 26  ideo5              5025 non-null   category
 27  gender             5028 non-null   category
 28  birthyr            5028 non-null   int32
 29  age                5028 non-null   int32
 30  race               5028 non-null   category
 31  hispanic           3927 non-null   category
 32  citizen            5022 non-null   category
 33  educ               5028 non-null   category
 34  marstat            5025 non-null   category
 35  faminc             5026 non-null   category
 36  union              5016 non-null   category
 37  union_hh           4999 non-null   category
 38  employ             5027 non-null   category
 39  no_healthins       5028 non-null   category
 40  has_child          5019 non-null   category
 41  ownhome            5019 non-null   category
 42  no_milstat         5028 non-null   category
 43  religion           5025 non-null   category
 44  economy_retro      5019 non-null   category
 45  newsint            5025 non-null   category
 46  approval_pres      5027 non-null   category
 47  approval_rep       4913 non-null   category
 48  approval_sen1      5024 non-null   category
 49  approval_sen2      5024 non-null   category
 50  approval_gov       5025 non-null   category
 51  intent_pres_08     0 non-null      category
 52  intent_pres_12     0 non-null      category
 53  intent_pres_16     0 non-null      category
 54  intent_pres_20     3971 non-null   category
 55  voted_pres_08      0 non-null      category
 56  voted_pres_12      0 non-null      category
 57  voted_pres_16      5026 non-null   category
 58  voted_pres_20      3818 non-null   category
 59  intent_pres_party  3466 non-null   category
 60  voted_pres_party   3800 non-null   category
 61  vv_regstatus       0 non-null      category
 62  vv_party_gen       0 non-null      category
 63  vv_party_prm       0 non-null      category
 64  vv_turnout_gvm     0 non-null      category
 65  vv_turnout_pvm     0 non-null      category
 66  intent_rep         3986 non-null   category
 67  intent_rep_party   2900 non-null   category
 68  voted_rep          3806 non-null   category
 69  voted_rep_party    3531 non-null   category
 70  intent_gov         0 non-null      category
 71  intent_gov_party   0 non-null      category
 72  voted_gov          2 non-null      category
 73  voted_gov_party    0 non-null      category
 74  intent_sen         0 non-null      category
 75  intent_sen_party   0 non-null      category
 76  voted_sen          2 non-null      category
 77  voted_sen_party    0 non-null      category
 78  intent_rep_chosen  5028 non-null   object
 79  intent_sen_chosen  5028 non-null   object
 80  intent_gov_chosen  5028 non-null   object
 81  voted_rep_chosen   5028 non-null   object
 82  voted_sen_chosen   5028 non-null   object
 83  voted_gov_chosen   5028 non-null   object
 84  rep_current        5028 non-null   object
 85  rep_icpsr          5028 non-null   object
 86  sen1_current       5028 non-null   object
 87  sen1_icpsr         5028 non-null   object
 88  sen2_current       5028 non-null   object
 89  sen2_icpsr         5028 non-null   object
 90  gov_current        5028 non-null   object
dtypes: category(58), datetime64[ns](1), float64(7), int32(5), object(20)
memory usage: 1.5+ MB

In [50]:
cali20[['dist', 'cong', 'gender', 'birthyr', 'age', 'educ', 'race', 'faminc', 'marstat','newsint', 'approval_gov','ideo5', 'voted_gov']]

,dist,cong,gender,birthyr,age,educ,race,faminc,marstat,newsint,approval_gov,ideo5,voted_gov
470768,25,116,Female,1959,61,2-Year,White,Prefer not to say,Single / Never Married,Some of the time,Strongly Approve,Liberal,NaN
470779,30,116,Female,1934,86,Post-Grad,White,Prefer not to say,Widowed,Most of the time,Approve / Somewhat Approve,Moderate,NaN
470780,14,116,Female,1971,49,Some College,White,Prefer not to say,Married,Most of the time,Never Heard / Not Sure,Moderate,NaN
470781,49,116,Female,1957,63,Some College,White,80k - 100k,Married,Only now and then,Disapprove / Somewhat Disapprove,Moderate,NaN
470815,43,116,Male,1971,49,4-Year,Hispanic,150k+,Married,Some of the time,Strongly Disapprove,Conservative,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
531711,10,116,Male,1990,30,No HS,White,20k - 30k,Single / Never Married,Don't Know,Never Heard / Not Sure,Very Liberal,NaN
531715,4,116,Female,1989,31,High School Graduate,White,Less than 10k,NaN,Hardly at all,Disapprove / Somewhat Disapprove,Not Sure,NaN
531716,53,116,Male,1951,69,Some College,Hispanic,120k - 150k,Married,Most of the time,Disapprove / Somewhat Disapprove,Moderate,NaN
531725,52,116,Female,1976,44,No HS,White,Less than 10k,Widowed,Only now and then,Approve / Somewhat Approve,Moderate,NaN
531747,36,116,Male,1982,38,Some College,White,50k - 60k,Domestic Partnership,Hardly at all,Strongly Disapprove,Moderate,NaN

In [51]:
cali20['voted_gov_chosen'].value_counts()

    5028
Name: voted_gov_chosen, dtype: int64

In [52]:
df['voted_gov_chosen'].value_counts()

                    16114
Gavin Newsom (D)     2301
John H. Cox (R)      1384
Name: voted_gov_chosen, dtype: int64

In [53]:
df['intent_gov_chosen'].value_counts()

                    15773
Gavin Newsom (D)     2527
John H. Cox (R)      1499
Name: intent_gov_chosen, dtype: int64

In [54]:
df['voted_gov'].value_counts()

[Democrat / Candidate 1]       2304
[Republican / Candidate 2]     1385
I Did Not Vote In This Race      37
Not Sure                         25
Other                            14
[Other / Candidate 3]             0
I Did Not Vote in this Race       0
I Did Not Vote                    0
Name: voted_gov, dtype: int64

In [55]:
#looking like our dataframe looks like we need to focus on the 2018 data.
df.loc[df['year'] == 2018, ['voted_gov']].head()

                         voted_gov
392775    [Democrat / Candidate 1]
392782    [Democrat / Candidate 1]
392786    [Democrat / Candidate 1]
392790                         NaN
392800  [Republican / Candidate 2]

In [56]:
# breaking down the dataframe to just 2018 and the state of california.
df = df[(df['year'] == 2018) & (df['state']== 'California')]

#looking into relivant data.
df = df[['dist', 'cong', 'gender', 'birthyr', 'age', 'educ', 'race', 'faminc', 'marstat','newsint', 'approval_gov','ideo5', 'voted_gov']]

In [57]:
#exporting csv of 2018 gov results with nulls.
df.to_csv('2018_gov_nulls.csv')

(5284, 13)

In [58]:
df.dropna(inplace=True)
df.shape

(3752, 13)

In [ ]:
df['voted_gov'].value_counts()

In [60]:
df.to_csv('2018_gov.csv')